<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MJS9W2J');</script>
        <!-- End Google Tag Manager -->

        <!-- META -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Ken Eucker</title>
        <meta name="description" content="A website for Ken Eucker">
        <meta name="author" content="Ken Eucker">

        <!-- CSS styles -->
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/skeleton.css">
        <link rel="stylesheet" href="./css/index.css" />
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <!--Font Awesome css load script-->
        <script src="https://use.fontawesome.com/404ced7d8b.js"></script>

    </head>
    <body class="blue-green-gradient">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJS9W2J"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="badge-line"></div>
        <div id="badge">
            <div class="badge">
                <!--<img src="../../assets/img/keneucker.jpg"> -->
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAiaAAAAJDE1MWQ2MzZhLWJjMDEtNGE2OC1iZGY4LWJkOGVhYWY3YWQ5ZQ.jpg">
            </div>
            <div class="icons">
                <!--<a href="https://www.patreon.com/keneucker" target="_blank"><img class="patreon-logo-mini" src="https://www.patreon.com/images/patreon_navigation_logo_mini.png" alt="Patreon"></a>-->
                <a href="https://github.com/KenEucker" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://linkedin.com/in/keneucker" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://plus.google.com/u/0/+KennethEucker" target="_blank"><i class="fa fa-google-plus-square"></i></a>
                <a href="https://www.instagram.com/keneucker/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.couchsurfing.com/people/keneucker" target="_blank"><img class="cs-logo" src="../../assets/img/cs-logo-reverse.png" alt="Couchsurfing"></a>
            </div>
        </div>
        <section id="banner">
            <h1>
                Developer | Writer
            </h1>
            <p>
                Hello, my name is Ken Eucker. I love to design applications, write poetry, ride my bicycle, hike to hot springs, backpack through canyons, take candid photographs, and talk about the intersection of technology and psychology.
            </p>
            <p>
                <a href="../../assets/doc/Ken_Eucker_Resume_2017.pdf"><i class="fa fa-file-pdf-o"> Resume</i></a>
            </p>
        </section>
        <section id="who">
            <h2>
                Who
            </h2>
            <p>
                I am a full stack web developer, classically trained in object oriented programming, who likes to write universal javascript, with extensive experience building the backend of web connected properties.  I have a diverse set of skills writing in the serverside languages C#, PHP, Javascript, and the clientside languages HTML, Javascript, CSS, TypeScript, including the database languages mysql, MSSQL, and Mongodb. 
            </p>
            <p>
                <a class="expander" onclick="showBlock('#more-who', this)"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-who" class="fadeOut" style="display: none;">
                <p>
                    I am a writer; I write in human languages and in machine languages. I like writing poetry and short stories. I like writing blogs and reflecting upon my personal experience. I have written different blogs over the years trying to find out where my niche is. I have been building a universe for a novel that I want to write entirely in javascript. I have some odd ideas.
                </p>
                <p>
                    I am a maker; I woodwork, weld metal, solder electronics, program microcontrollers, and I like to find projects that combines these skills. I am a member of an artists collective, <a href="http://afterdarkarts.com/">After Dark Arts</a>, in Portland where I participate on projects that glow and shoot fire. I have a desire to create kinetic water art installations.
                </p>
                <p>
                    I'm an adventurer; I like to go biking, hiking, backpacking, and traveling to remote areas to connect with the natural world and I find those experiences to be invaluable. I like to believe that life happens in between the moments that you plan for, and I actively seek out adventures that will grow who I am as a person with those around me.
                </p>
            </div>
        </section>
             
        <section id="what">
            <h2>
                What
            </h2>
            <div class="current-role">
                <a href="http://www.digitaltrends.com" target="_blank"><img src="../../assets/img/DT_stackedlogo_feature.jpg"></a>
                <p>
                    I am currently on the crew at Digital Trends as a Writer and Full Stack Web Developer using wordpress, reactjs, node, gulp, docker, redis, and a couple more build tools for the web properties <a href="http://www.digitaltrends.com" target="_blank">www.digitaltrends.com</a> and <a href="http://www.themanual.com" target="_blank">wwww.themanual.com</a><br>
                </p>
            </div>
            <div class="bubbles">
                <img src="../../assets/img/node-javascript.png">
                <img src="../../assets/img/html5-css3-logo.svg">
                <img class="mongodb-logo" src="../../assets/img/mongodb-logo.svg.png">
                <img src="../../assets/img/php-logo.png">
                <img src="../../assets/img/mysql-logo.png">
                <img src="../../assets/img/dotnet-logo.png">
                <img src="../../assets/img/mssql-logo.png"><br>
                <img style="max-width:100px;" src="../../assets/img/svn-logo.png">
                <img style="max-width:200px;" src="../../assets/img/git-logo.png">
            </div>
             <p>
                <a class="expander" onclick="showBlock('#more-what', this)"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-what" class="fadeOut" style="display: none;">
                <p>
                    At the start of 2017 I decided to work for free; a little idea I am trying out where I want to write and create works for free to share them with others and see if that is something people would find as interesting as I do. As a result, I have scheduled to build a website each month, write my first novel, and I am writing poems and short stories throughout the week. <span class="i">Patreon site coming soon</span>
                </p>
                <p>
                    I created a nodejs framework called QUASI - Quick, Usable, And Simple Interface. My goal is to provide a web framework that makes small content websites simple for content managers and easy to extend for developers. 
                </p>
                <p>
                    Most of the work I do is behind the scenes, which means that the better job I do the more unlikely you are to be able to notice it. I have a mind for the functional and when I connect technologies, they just work. I am actively growing my skills on the artistic, aesthetically pleasing, and streamlined aspects of UX with software and am a student of the sciences of human-computer interaction.
                </p>
            </div>
        </section>
              
        <section id="why">
            <h2>
                Why
            </h2>
            <p class="left points">
                <!--<img class="badge-icon" src="../../assets/img/badge-poems.png" /><br>-->
                Began writing poems at the age of 12, in 1999.<br>
                <!--<img class="badge-icon" src="../../assets/img/badge-code.png" /><br>-->
                Started writing code two years later in 2001.<br>
                <!--<img class="badge-icon" src="../../assets/img/badge-school.png" /><br>-->
                Schooled for 8 years between 2002-2010.<br>
                <!--<img class="badge-icon" src="../../assets/img/badge-job.png" /><br>-->
                Worked at a web development agency in 2010.<br>
                <!--<img class="badge-icon" src="../../assets/img/badge-freelance.png" /><br>-->
                Freelanced full time and went traveling in 2014.<br>
                <!--<img class="badge-icon" src="../../assets/img/badge-opensource.png" /><br>-->
                Dedicated life to Open Source software in 2016.<br>
            </p>
            <p>
                <a class="expander" onclick="showBlock('#more-why', this)"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-why" class="fadeOut" style="display: none;">
                <p>
                    I began writing code at the age of 14, making scripts for IRC and playing around with HTML. In highschool, my code writing took a journey from BASIC to Pascal to C and finally C++. While my college career was focused heavily on the Microsoft stack, I also learned how to program microcontrollers, Xbox games, and got my first introduction to the web of client-server with PHP. I chose a career in Software Engineering because I recognized that designing and writing applications was something I had enough passion in to carry forward into the later part of my life with infinite passion. I am a maker, a tinkerer, a person who likes to see how things are designed and marvel at just how much machines can accomplish with such elegant engineering. 
                </p>
                <p>
                    My first experience in the industry was with a web development agency in downtown Portland, Oregon. I was working on an ASP.NET CMS framework that was in use by several clients for their e-commerce websites. A year later the agency dissolved and I quickly formed my own LLC to be able to freelance my skills and talents. Determined to continue to be a part of a dev team I began working for a product company, also on the .NET stack, and was brought onto their systems team to focus on their web portal. Following my time with that company I decided to put my full time efforts into contracting and working remotely, so I started working with another agency on a couple of Wordpress/PHP projects and went traveling. 
                </p>
                <p>
                    When I returned to Portland I had learned enough to know that being on a team was important to me. I had been looking to open source my development projects and was keen on finding a team of others who also shared the open source mindset, thus I found myself at another web development agency in downtown working on projects using nodejs with javascript both on the server and client side. I have to say that I am in love with single language development stacks! Now, whenever I start a new project I advocate for it being open source and I dedicate my life to a balance between working in an office and working outside of an office. 
                </p>
            </div>
        </section>

        <section id="footer">
            <p style="font-size: 1em;">
                I am available for hire on a contract or remote basis, please send me an email for more information:
                <a style="text-decoration: none;color:white;" href="mailto:hello@keneucker.com">hello@keneucker.com</a>                
            </p>
        </section>
        <section class="ig-view">
            <div class="ig-overlay"><i class="fa fa-instagram"></i></div>
            <script src="//lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="//lightwidget.com/widgets/cbef6df707c6519e97927ad578e3b941.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden"></iframe>
        </section>
        <!-- JS scripts -->   
        <script src="./js/index.js"></script>  

    </body>
</html>