// best in chrome
$total: 200; // total particles
$orb-size: 200px;
$particle-size: 3px;
$time: 14s;
$base-hue: 180; // change for diff colors (180 is nice)

// initial state
div[id*='more-'] {
    display: none;
}

section {
    p {
        max-width: 90vw;
        filter: brightness(1) drop-shadow(1px 2px 2px black);
    }

    &#footer {
        font-size: 0.7em;

        a {
            text-decoration: none;
            color: white;
        }

        img.octocat {
            margin: 0 auto;
            display: block;
            max-width: 5em;
        }

        i.fa {
            color: rgb(238, 117, 189);
        }
    }
}

.sexpress-logo {
    display: block;
    margin: 0 auto;
    filter: invert(1) blur(0.4px) brightness(1.1) drop-shadow(2px 4px 6px black);
}

.biketag-logo {
    display: block;
    margin: 0 auto;
    max-height: 4em;
    height: 90px;
}

a.devto-logo {
    max-height: 22px;
    vertical-align: top;
    text-decoration: none;
    font-family: 'HelveticaNeue-CondensedBold', 'HelveticaNeueBoldCondensed',
        'HelveticaNeue-Bold-Condensed', 'Helvetica Neue Bold Condensed', 'HelveticaNeueBold',
        'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'HelveticaNeue', 'Helvetica Neue',
        'TeXGyreHerosCnBold', 'Helvetica', 'Tahoma', 'Geneva', 'Arial Narrow', 'Arial', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: -1px;
}

.icons {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    margin-left: -18px;
    pointer-events: all;

    a {
        color: white !important;
        margin-left: 0.5em;
    }

    i {
        height: 22px;
    }

    img,
    i,
    .icon-logo {
        max-height: 20px;
        vertical-align: text-top;
    }
}

.bubbles {
    img {
        padding-bottom: 1em;
        &.nodejs-logo {
        }
        &.ejs-logo {
            height: 100px;
        }
        &.js-logo {
            max-height: 70px;
        }
        &.html-css-logo {
            max-height: 100px;
            margin-top: -15px;
        }
        &.mysql-logo {
            max-height: 65px;
        }
        &.patreon-logo-mini {
            margin-top: 6px;
            margin-right: -2px;
        }
        &.cs-logo {
            max-height: 20px;
            vertical-align: top;
            margin-top: 5px;
        }
        &.liquidjs-logo {
            max-height: 85px;
            max-width: 100px;
            vertical-align: bottom;
        }
        &.typescript-logo {
            max-height: 100px;
            max-width: 15%;
        }
        &.coffeescript-logo {
            max-height: 75px;
            margin-top: 10px;
            filter: invert(0%) sepia(69%) saturate(420%) hue-rotate(72deg) brightness(100%)
                contrast(666%);
            max-width: 15%;
        }
        &.redis-logo {
            max-width: 125px;
        }
        &.git-logo {
            max-height: 125px;
            margin-top: 10px;
            max-width: 28%;
        }
        &.upwork-logo {
            max-height: 22px;
            vertical-align: top;
            margin-top: 5px;
            width: 25px;
            height: 20px;
        }
        &.clevertech-logo {
            display: block;
            margin: 0 auto;
            max-height: 150px;
        }
        &.clevertech-text {
            border: none;
            border-radius: unset !important;
            display: block;
            margin: 0 auto;
        }
    }
}

.loading_cont {
    width: 100%;
    height: 100%;
    background: red;
    background: -webkit-linear-gradient(left top, #152a8e, #b1376c);
    background: -o-linear-gradient(bottom right, #152a8e, #b1376c);
    background: -moz-linear-gradient(bottom right, #152a8e, #b1376c);
    background: linear-gradient(to bottom right, #152a8e, #b1376c);
}

.loading_cont:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    opacity: 0.05;
    z-index: 0;
}

#loader {
    display: inline-block;
    position: relative;
    width: 800px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -400px;
}

rect {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.blobs {
    -webkit-filter: url('#goo');
    filter: url('#goo');
}

.blob {
    fill: white;
}

#animation {
    opacity: 0;
    position: absolute;
    left: 50%;
    right: 50%;
    z-index: -1;
    top: 600px;

    &.fade-in {
        opacity: 0.7;
        animation: fadeInAlmost 1s ease-in-out;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.8s ease-in-out;
}

@-webkit-keyframes fadeInAlmost {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@keyframes fadeInAlmost {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
