.poem {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poem > div {
  position: relative;
  padding: 50px 0;
  height: 530px;
  overflow: hidden;
  transition: height 0.5s all;
}

.poem > div.readit-block {
  height: 100%;
}
.poem > div.readit-block > div {
  columns: 2;
}
.poem > div.readit-block::after {
  display: none;
}
.poem > div > div {
  font-size: 18px;
  columns: 1;
  column-gap: 50px;
  margin-bottom: 40px;
}

.poem > div::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(0deg, rgb(0, 0, 0), transparent);
}

.poem .push-btn {
  margin-top: -45px;
  width: 250px;
}

.poem-wrapper {
  max-width: 80vw;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 15px;
}

@media (max-width: 767px) {
  .poem {
    padding-bottom: 0px;
    align-items: flex-start;
  }
  .poem > div p,
  .poem > div.readit-block p {
    columns: 1;
    column-gap: 0;
  }
}
